<div class="screen-<%= locals.screen %>">
  <div class="topic">
    <div class="topic__header">
      <div class="topic__text">Тэма</div>
      <div>
        <div class="topic__title">
          Гісторыя
        </div>
      </div>
    </div>
    <div class="topic__headline">
      <!-- ejs hacks -->
      <div class="topic__card topic__card--first">
        <%- include(`../cards/collection.ejs`, {
          ...defaultCardsData.collectionArticle,
          size: { desktop: 'l', 'tablet-large': 'l', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
        }) %>
      </div>

      <div class="topic__card topic__card--second">
        <%- include(`../cards/collection.ejs`, {
          ...defaultCardsData.collectionArticle,
          size: { desktop: 'square-m', 'tablet-large': 'l', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
        }) %>
      </div>
    </div>
    <div class="topic__other">
      <div class="topic__card">
        <%- include('../cards/collection.ejs', {
          ...defaultCardsData.collectionArticle,
          size: { desktop: 'square-s', 'tablet-large': 'l', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
        }) %>
      </div>
      <div class="topic__card">
        <%- include('../cards/article.ejs', {
          ...defaultCardsData.article,
          size: { desktop: 'square-s', 'tablet-large': 'l', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
        }) %>
      </div>
      <div class="topic__card">
        <%- include('../cards/video.ejs', {
          ...defaultCardsData.video,
          size: { desktop: 'square-s', 'tablet-large': 'l', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
        }) %>
      </div>
    </div>
    <%- include('../kit/button-group/button-group.ejs') %>
  </div>
</div>