<!DOCTYPE html>
<html lang="en">

<%- include('../head/head.ejs', { title: 'Артыкул' }) %>

<body>

<div class="babajka-root">
    <div class="babajka-content">

        <% include ../navbar/navbar.ejs %>

        <div class="page-content">

            <div class="article-page">

                <!-- <div class="admin-tools">
                    <div class="label">
                        Як адміністратар, Вы можаце:
                    </div>
                    <a class="action button">Рэдагаваць артыкул</a>
                </div> -->

                <div class="article-folder">

                    <div class="article-title">
                        "Гэта ня тое як склеіць разьбіты кубак..."
                    </div>

                    <div class="folder-image">
                        <img src="<%= imagesPath %>/photo8.jpg" />
                    </div>

                </div>

                <div class="article-info">
                    апублікавана 2 красавіка 2018
                </div>
                <div class="article-properties">
                    <div class="panelx">
                        <div class="subtext-up">
                            падрыхтаваны ў супрацы з
                        </div>
                        <div class="essential">
                            Масаракш
                        </div>
                    </div>
                    <div class="panelx">
                        <div class="essential">
                            Беларускае кіно
                        </div>
                        <div class="subtext-bottom">
                            гэты артыкул - частка калекцыі
                        </div>
                    </div>
                    <div class="panelx">
                        <div class="essential">
                            in English
                        </div>
                        <div class="subtext-bottom">
                            another language version is available
                        </div>
                    </div>
                    <div class="panelx panel-danger">
                        <div class="essential">
                            рэдагаваць
                        </div>
                        <div class="subtext-bottom">
                            Вы ўвайшлі як адміністратар
                        </div>
                    </div>
                </div>

                <div class="article-text">
                    Міцкевіч: геаграфія паэта.

                    Частка 1. Літвінская


                    Ёсць паэты, чый лёс можа апынуцца не менш цікавым і сімвалічным за іх творы. У гэтым артыкуле – геаграфія перамяшчэнняў Адама Міцкевіча па мапе нашага кантынента. А пачынаецца гэта геаграфія, як і біяграфія Адама Міцкевіча, з Гродзенскай вобласці.

                    Кропка 1. Наваградчына

                    Дзе нарадзіўся Адам Міцкевіч, паэт, прарок, наша “наш” і польскае “ўсё” – дагэтуль невядома. Ясна, што на Беларусі, але паводле адной версіі гэта адбылося на хутары Завоссе, паводле іншай – у карчме па дарозе ў горад. Барадулінскае  “Паэты нараджаюцца ў карчме, каб іх пасля аплаквалі саборы” якраз і прысвечанае пану Адаму. Сам яго прыход на свет пераканаў сваякоў, што хлопчыка чакае адметны лёс, бо нарадзіўся Адам Міцкевіч 24 снежня, у Вігілію. Зрэшты, яны не памыліліся. Калі немаўляці пераразалі пупавіну, то павітуха падсунула пад яе кнігу – быў такі звычай, каб чалавек у сваім будучым жыцці зрабіўся разумным і важным. Праўда, па іроніі лёсу, гэта была не Біблія, якая мелася амаль у кожнай хаце, і не мастацкая літаратура, якой у кожнай хаце не было , а “Свод законов Российской империи”.
                    Малы Адам доўга не хадзіў – зрэшты, навошта, калі маці цягае цябе па хаце на падоле сваёй доўгай сукенкі. У школе ненавідзеў каліграфію – і гэта адчуваецца, бо ў даследчыкаў творчасці Міцкевіча дагэтуль узнікаюць праблемы з тым, каб прачытаць яго тэксты.

                    Кропка 2. Вільня.


                    У 1815 годзе Адам Міцкевіч паступіў на фізіка-матэматычны факультэт Віленскага ўніверсітэта і, зразумеўшы, што дакладныя навукі — “не яго”, праз год перавёўся на гісторыка-філалагічны факультэт. Ва ўніверсітэце Міцкевіч пазнаёміўся з Тамашам Занам. Напачатку хлопцы канкуравалі за стыпендыю, якую ў рэшце рэшт атрымаў Адам, але пасля пасябравалі. У 1817 годзе шэсць студэнтаў Віленскага ўніверсітэта заснавалі Таварыства філаматаў: Ануфрый Петрашкевіч, Эразм Палюшынскі, Бруна Сухецкі, Юзэф Яжоўскі, Тамаш Зан і Адам Міцкевіч. У 1820 філаматы ператварыліся ў філарэтаў, і Тамаш Зан стаў старшынёй арганізацыі. Дэвізам таварыства было „Айчына. Навука. Цнота”. Хлопцы не былі заангажаваныя ў палітыцы і нічым асабліва нелегальным не займаліся. Большасць з іх ужо працавала настаўнікамі, і яны спрабавалі прышчапіць падрастаючаму пакаленню любоў і павагу да высокіх ідэалаў.

                    Кропка 3. Коўна

                    Думаеце, размеркаванне – гэта прыдумка XX-га стагоддзя, якая на нашай прасторы перапаўзла ў XXI? Нагода для суцяшэння: Адам Міцкевіч таксама быў размеркаваны. З Вільні ў Коўна, за 160 кіламетраў,  дзе прапрацаваў настаўнікам чатыры гады. Настаўнікам быў добрым, падымаўся  а чацвёртай раніцы, адказна рыхтаваўся да заняткаў і скардзіўся на вучняў у лістах да сяброў:  “… bo w klasach wyższych są głowy zupełnie żmudzkie, zresztą sami profesorowie skarżą się, iż nigdy szkół tak ubogich w talentach nie mieli.” .
                    Пераклад: “… бо ў старэйшых класах ёсць галовы абсалютна жмудскія, зрэшты, самі выкладчыкі скардзяцца, што ніколі такіх убогіх у талентах школ не мелі.”
                    На сходы Таварыства Міцкевіч ездзіў у Вільню  – а ў XIX стагоддзі 160 км было справай далёка не дзвюх гадзін.

                    Кропка 4. Ізноў Вільня. Турма.

                    Усё пачалося з таго, што з Пецярбурга ў Вільню быў сасланы спадар Мікалай Мікалаевіч Навасільцаў. Цікавая асоба: дзяржаўны муж, “сумесь Бахуса з сатырам”, які за п’янства, азартныя гульні, залёты да жанчын – сапраўды, не самыя ўзорныя паводзіны, — трапіў у апалу і быў сасланы з Санкт-Пецярбурга ў Вільню. Спадару Навасільцаву трэба было як мага хутчэй выслужыцца і паказаць сваю адданасць Айчыне.
                    Зручная нагода  не прымусла доўга сябе чакаць. 3 мая 1823 у гадавіну прыняцця Канстытуцыі ў адной з залаў Віленскага ўніверсітэта нехта напісаў на дошцы: “Жыве Канстытуцыя 3 мая!”.  Гэта стала нагодай для выяўлення нелегальных арганізацый, якія самім сваім існаваннем падрываюць моц Расійскай імперыі.
                    Быў раздуты вялікі працэс, у выніку якога арыштавалі  нават 14-гадовых падлеткаў, а дзесяць чалавек з ліку заснавальнікаў Таварыства былі асуджаныя на высылку ў Расію.
                    У якасці палітвязня Адам Міцкевіч прасядзеў у Віленскай турме паўгода.  Пасля было прынятае рашэнне адправіць яго ў які-небудзь горад Расійскай імперыі. Але з адной умовай: не на Радзіме.

                    (Працяг будзе)

                    Частка 2. Расійская

                    Ёсць паэты, чый лёс можа апынуцца не менш цікавым і сімвалічным за іх творы. У гэтым артыкуле – геаграфія перамяшчэнняў Адама Міцкевіча па мапе нашага кантынента. Пасля шасці месяцаў, праведзеных у Віленскай турме, малады паэт адпраўляецца ў высылку. Наперадзе – абшары Расійскай імперыі.

                    Кропка 5. Пецярбург

                    У 1824 годзе Міцкевіч вымушаны пакінуць Радзіму, куды ён больш ніколі ў жыцці не вернецца. За тры месяцы, што ён знаходзіцца ў Пецярбургу, пан Адам наладжвае кантакты з рускай інтэлігенцыяй, знаёміцца з дзекабрыстамі Конрадам Рылеевым і Аляксандрам Бястужавым.

                    Кропка 6. Адэса

                    Высылка Міцкевіча была не такая ўжо і трагічная – прынамсі, Сібіры ў ёй не было. У лютым 1825 года Міністэрства адукацыі адправіла яго ў Адэсу працаваць выкладчыкам у ліцэі. Там ён цалкам нядрэнна правёў паўгода: круціў раманы, бываў у арыстакратычных салонах. З гэтага перыяду маем цэлы цыкл досыць фрывольных “Адэскіх санетаў”.

                    Кропка 7. Крым

                    А вось “Крымскія санеты” лічацца адной з вяршынь паэтычнай творчасці Міцкевіча. У ліпені і жніўні 1825 года ў таварыстве генерала Віта і яго каханкі Караліны Сабaньскай (якая да ўсяго яшчэ была праўнучкай каралевы Францыі і рускай шпіёнкай),  Адам Міцкевіч падарожнічаў па Крыме. Сум па Радзіме і адчуванне сябе выгнаннікам, аднак, не перашкодзілі паэту закруціць раман з Каралінай, у якой, відаць, быў выдатны густ каліне да літаратуры, то да літаратараў – дакладна. Напрыклад, у яе “калекцыю” трапілі французскі крытык Шарль Сэн-Бёў, пісьменнік Жуль Лакруа і паэт Аляксандр Пушкін.

                    Кропка 8. Масква

                    У хуткім часе ўлады Расійскай імперыі змянілі сваё рашэнне, і Міцкевічу было прапанавана выбраць новае месца працы. Пан Адам едзе ў Маскву, дзе робіцца звычайным клеркам. Тут яго напаткае навіна пра тое, што Рылееў і Бястужаў пасля 25 снежня 1825 года асуджаныя на смерць (смяротнае пакаранне Бястужаву пасля было заменена на Сібір).
                    У 1826 годзе яшчэ адзін паэт вяртаецца з выылкі і прыязджае ў Маскву. Аляксандр Пушкін  і Адам Міцкевіч, вельмі розныя па тэмпераменце і характары, з вялікай павагай ставяцца адзін да аднаго. Пасля выхаду “Конрада Валенрода”  Васілій Жукоўскі кажа Пушкіну: “Ведаеш, браце, але ж ён заткне цябе з пояс”, на што Пушкін адказвае: “Ты не так кажаш, ён ужо заткнуў мяне”.
                    А гэта ўрывак з “Дзядоў”, дзе лёгка пазнацьпостаці абодвух паэтаў:
                    Шел дождь. Укрывшись под одним плащом
                    Стояли двое в сумраке ночном.
                    Один, гонимый царским произволом,
                    Сын Запада, безвестный был пришлец:
                    Другой был русский, вольности певец.
                    Будивший Север пламенным глаголом.
                    Хоть встретились не много дней назад,
                    Но речь вели как с братом брат… (Дзіўна! Гэтага верша нідзе няма па-беларуску. Буду ў Мінску – гляну ў Нацыяналцы, можа хто ўсё ж пераклаў).
                    Але пасля паўстання 1830 года стасункі паэтаў пагоршыліся. Як пісаў сам Міцкевіч, «Паэзія і талент нас аб’ядналі, палітыка – раз’яднала». Паэтычны двубой паміж Пушкіным і Міцкевічам можна пачытаць тут.(Кінуць сюды спасылку на асобны артыкул, дзе будуць толькі гэтыя тры вершы. Гл. Файл Міцкевіч-Пушкін).

                    Кропка 9. Пецярбург пасля паўстання дзекабрыстаў

                    У 1828 у Пецярбургу Адам Міцкевіч выдае “Конрада Валенрода”. І тут трэба ўдакладніць некалькі рэчаў. Па-першае, Конрад Валенрод Міцкевіча, акрамя імені, у рэальнасці не мае нічога агульнага з Магістрам Тэўтонскага Ордэна  Конрадам фон Валенродам. Але апошняга не вельмі любілі манахі-храністы, бо той быў недастаткова шчодры да касцёла. Таму і апісвалі як ератыка і ворага Ордэна. Гэтай легендай і скарыстаўся Ада Міцкевіч. Па-другое, як гэта часта здараецца, паэта не зусім правільна зразумелі. У паэме гаворка ідзе пра немагчымасць выбраць паміж хрысціянскімі каштоўнасцямі і абавязкам перад Бацькаўшчынай. Прасцей – ставіцца  пытанне, ці апраўдана будзе здрадзіць ворагу, які цябе выкарміў. Спойлер:  герой гіне, так і не знайшоўшы адказу.  Аднак паэма ў тыя часы нарадзіла цэлы рух, што займеў назву “валенрадызм”. Ідэя яго прыхільнікаў заключалася ў тым, каб імкнуцца да высокіх пасад, а пасля развальваць сістэму знутры.
                    Зразумела, што пасля выхаду паэмы ўлады сталі яшчэ больш недалюбліваць Міцкевіча.
                    У 1829 годзе па падробных дакументах, якія сведчылі пра нібыта хваробу, Адам Міцкевіч атрымлівае дазвол на выезд за мяжу. Паэт пакідае Пецярбург літаральна ў апошнія хвіліны, дзякуючы дапамозе сяброў, якія на кароткі час затрымалі ў канцылярыі загад аб знішчэнні пашпарта Міцкевіча.
                    Зразумела, што ў царскую Расію паэт болей вяртацца не збіраўся.

                    (Працяг будзе)
                </div>

                <div class="article-author">
                    <img class="author-photo" src="<%= imagesPath %>/volski.jpg" />
                    <div class="author-name">
                        Лявон Вольскі
                    </div>
                    <div class="author-bio">
                        Ляво́н Арту́равіч Во́льскі (сапраўднае імя — Леанід Артуравіч Зэйдэль-Вольскі; нарадзіўся 14 верасьня 1965, Менск) — беларускі музыка, літаратар, мастак. Заснавальнік «Мроі», N.R.M. і «Крамбамбулі». Таксама граў і сьпяваў у гурце «Новае Неба».
                    </div>
                </div>

                <div class="article-links tile is-ancestor">

                    <%- include('../tiles/tile.ejs', {
                    authorVar: 'Змітр Корнеў',
                    authorPhotoVar: 'vajc.jpg',
                    photoClassVar: 'is-16by9',
                    photoVar: 'photo2.jpg',
                    subtitleVar: 'Новы альбом: як, дзе і для каго. Учора Крама прадставіла новы альбом, а мы вам пра яго распавядзем. Назва новага альбома - "Крама". Яго...',
                    titleVar: 'Крама "як з крамы"',
                    }); %>

                    <%- include('../tiles/tile.ejs', {
                    authorVar: 'Вальжына Морт',
                    authorPhotoVar: 'mort.jpg',
                    photoClassVar: 'is-3by2',
                    photoVar: 'photo3.jpg',
                    subtitleVar: 'Вальжына Морт пра адносіны з сусветам',
                    titleVar: '"Гэта ня тое як склеіць разьбіты кубак..."',
                    }); %>

                    <%- include('../tiles/tile.ejs', {
                    authorVar: 'Лявон Вольскі',
                    authorPhotoVar: 'volski.jpg',
                    photoClassVar: 'is-3by2',
                    photoVar: 'photo5.jpg',
                    subtitleVar: '"Настоящую нежность не спутаешь ни с чем..."',
                    titleVar: 'Некоратка аб Ахматавай',
                    }); %>

                    <%- include('../tiles/tile.ejs', {
                    photoClassVar: 'is-3by2',
                    photoVar: 'photo4.jpg',
                    specialHeadingNameVar: 'Курылка Гутэнберга',
                    specialHeadingPhotoVar: 'kurilka_icon.png',
                    subtitleVar: 'Выкладчык з ЕГУ распавядзе пра складаны лёс выкладчыка з ЕГУ. Хацеў бы ён выкладаць у БДУ замест таго!..',
                    titleVar: 'Культура і псіхалогія',
                    }); %>

            </div>
            </div>
        </div>

        <% include ../footer/footer.ejs %>
    </div>
</div>

</body>
</html>
