<div class="block block__with-background articles-by-tag-2">

  <div class="articles-by-tag-2__labels <% if (locals.branded) { %> articles-by-tag-2__labels--right <% } %>">
    <div class="articles-by-tag-2__top-mobile-labels">
      <% if (locals.branded) { %>
        <img src="<%= imagesPath %>/mock/brands/art-museum.png" alt="Лагатып партнёра" width="120" />
      <% } %>
      <div class="articles-by-tag-2__label">
        <%- locals.labelTop %>
        <%- include('../kit/link/link.ejs', { text: locals.linkTopText, isDarkTheme: true }) %>
      </div>
    </div>
    <div class="articles-by-tag-2__label articles-by-tag-2__bottom-desktop-label">
      <%- include('../kit/link/link.ejs', { text: locals.linkBottomText, isDarkTheme: true }) %>
    </div>
  </div>

  <div class="articles-by-tag-2__cards">

    <div class="articles-by-tag-2__card-1">
      <%- include('../cards/article.ejs', {
        ...locals.article1,
        size: { desktop: 'square-m', 'tablet-large': 'l', tablet: 'square-m', touch: 'm', mobile: 'square-s'}[locals.screen],
      }) %>
    </div>

    <div class="articles-by-tag-2__card-2">
      <%- include('../cards/article.ejs', {
        ...locals.article2,
        size: 'square-m',
      }) %>
    </div>

  </div>

  <div class="articles-by-tag-2__bottom-labels">
    <div class="articles-by-tag-2__label articles-by-tag-2__bottom-mobile-label">
      <%- include('../kit/link/link.ejs', { text: locals.linkBottomText, isDarkTheme: true }) %>
    </div>
  </div>

</div>
