<div class="margin-element <%= locals.className %>">
  <img
    class="margin-element__image"
    src="<%= imagesPath %>/mock/miscellaneous/margin-image.png"
    alt="<%= locals.title %>"
  />
  <div class="margin-element__image-caption">
    <div class="margin-element__title"><%= locals.title %></div>
    <div><%= locals.subtitle %></div>
  </div>
</div>
