<div>

  <%- include('../blocks/featured.ejs', {
    screen: 'desktop',
    featuredOptions: defaultCardsData.article,
  }) %>

  <%- include('../blocks/twoInRow.ejs', {
    screen: 'desktop',
    first: defaultCardsData.video,
    second: defaultCardsData.collectionArticle,
  }) %>

  <%- include('../blocks/tagsByTopic.ejs', {
    screen: 'desktop',
    style: '1-2',
    titleLabel: 'усе асобы',
    tag1: defaultCardsData.locations[1],
    tag2: defaultCardsData.locations[0],
    tag3: defaultCardsData.locations[2],
  }) %>

  <%- include('../blocks/articlesByTag2.ejs', {
    screen: 'desktop',
    branded: false,
    labelTop: 'Папулярная <br /> тэма: <br />',
    linkTopText: 'міфалогія',
    linkBottomText: 'усе тэмы',
    article1: defaultCardsData.brandArticle,
    article2: defaultCardsData.article,
  }) %>

  <%- include('../blocks/tagsByTopic.ejs', {
    screen: 'desktop',
    style: '2-1',
    titleLabel: 'усе лакацыі',
    tag1: defaultCardsData.locations[1],
    tag2: defaultCardsData.locations[0],
    tag3: defaultCardsData.locations[2],
  }) %>

  <%- include('../blocks/articlesByTag2.ejs', {
    screen: 'desktop',
    branded: true,
    labelTop: 'нацыянальны <br /> мастацкі <br /> музей <br />',
    linkBottomText: 'усе <br /> партнёрскія <br /> матэрыялы',
    article1: defaultCardsData.brandArticle,
    article2: defaultCardsData.brandArticle,
  }) %>

</div>
