<!DOCTYPE html>
<html lang="en">
  <%- include('../head/head.ejs', { title: 'Як прыгатаваць мову ВКЛ?' }) %>

  <body>
    <div class="article-page-wrapper">
      <div class="article-page">
        <div class="article-page__margins">
          <div class="article-page__description">
            Мноства баталій, якія з зайздроснай рэгулярнасцю разгараюцца вакол беларускай мовы,
            тычацца не толькі яе сучаснага стану. Мовазнаўцы і гісторыкі і па сёння не могуць
            пагадзіцца наконт таго, на якую мову Скарына пераклаў Біблію, што можна лічыць моваю
            беларускай і з якіх часоў варта адсочваць яе развіццё. Паспрабуем прыгледзецца да мовы
            Вялікага Княства Літоўскага, бо ўсім вядома: лепей адзін раз пакаштаваць, чым сто разоў
            пачуць.
          </div>
        </div>
        <img
          class="article-page__image"
          src="<%= imagesPath %>/mock/covers/article-page-main.png"
          alt="Тут павінна быць вокладка артыкула"
        />
        <div class="article-page__margins">
          <div class="article-page__authors">
            <img
              class="article-page__author-image"
              src="<%= imagesPath %>/mock/brands/art-museum.png"
              alt="Лагатып партнёра"
            />
            <img
              class="article-page__author-image"
              src="<%= imagesPath %>/mock/persons/badzei.png"
              alt="Фота аўтара"
            />
            <img
              class="article-page__author-image"
              src="<%= imagesPath %>/mock/persons/anisimava.png"
              alt="Фота аўтара"
            />
            <div class="article-page__authors-names">
              <a class="article-page__link">Нацыянальны мастацкі музей</a>
              <div>
                <a class="article-page__link">Марыя Бадзей</a>,
                <a class="article-page__link">Марына Анісімава</a>
              </div>
            </div>
          </div>
          <h1 class="article-page__title">Як прыгатаваць мову ВКЛ?</h1>
          <section class="article-page__block">
            <p class="article-page__paragraph">
              <b>Старабеларуская</b>, <a>канцылярска-славянская</a>, старазаходняруская,
              стараўкраінская, літоўска-руская, літоўска-славянская, руска-польская,
              старозападнорусское наречие, простая мова, język polsko-białoruski, Ruthène…
              Дзяржаўная мова Вялікага Княства Літоўскага цяпер мае каля сарака імёнаў. Дыскусіі
              аб тым, якое з іх пасуе найлепш, цягнуцца ўжо два стагоддзі і не збіраюцца спыняцца.
              Мова, якая мае столькі назваў, — страва для сапраўдных гурманаў. Кацёл гісторыі варыць
              усё, што ў яго трапляе, а вынік адчуваецца на языку.
            </p>
          </section>
          <section class="article-page__block">
            <h2>Загаловак другога ўзроўню ў тэксце (H2)</h2>
            <p class="article-page__paragraph">
              <%- include('../marginElements/marginImage.ejs', {
              ...defaultMarginElementsData.marginImage, className: 'article-page__right-element' })
              %>
              <span
                >Самі ж жыхары Вялікага Княства Літоўскага называлі сваю мову «руская». Прыклад
                з артыкула са Статута 1588 года: а писар земский маетъ по руску словы и литеры
                писати, што значыць «беларускія словы кірыліцкім пісьмом». Мову ж усходняга суседа
                яны называлі «маскоўская»: «галасы утварывшы мовою московскою»; «подал
                ку акътыкованю до книгъ кгродскихъ Пинскихъ грамоту руским москевским писмомъ…
                писаную».</span
              >
            </p>
          </section>
          <section class="article-page__block">
            <h3>Загаловак трэцяга і астатніх ўзроўняў (H3–H6)</h3>
            <p class="article-page__paragraph">
              Што ж датычыць самога ўсходняга суседа, то гэтую мову там не разумелі і называлі
              «літоўская» ад слова «Літва». Зразумела, што ў сучасным разуменні яна не з’яўлялася
              ані тым, ані тым — ні рускай і ні літоўскай. Каб прыгатаваць старабеларускую мову,
              найперш трэба насыпаць у кацёл народныя гаворкі. Інгрэдыент гэты досыць складаны.
              Беларусь, насуперак стэрэатыпам, не самая малая краіна (плошчай як пяць Швейцарый, сем
              Бельгій ці дзесяць Славеній), асабліва ў моўным плане. Разнастайнасці народных гаворак
              было (і ёсць) дзе разгарнуцца. Спачатку старабеларуская мова фарміравалася на аснове
              гаворак полацка-смаленскага рэгіёна. Потым у падмурак сталі класціся сярэднебеларускія
              гаворкі, пасля — гаворкі віленскага рэгіёна. Рух з усходу на захад абумоўлены тым, што
              на працягу XVI стагоддзя вяліся разбуральныя войны з Маскоўскім княствам, пляцоўкай
              якіх былі беларускія землі.
            </p>
            <p class="article-page__paragraph">
              <%- include('../marginElements/marginNote.ejs', {
              ...defaultMarginElementsData.marginNote, className: 'article-page__right-element' })
              %>
              <span>
                Дарэчы, з гэтымі невясёлымі падзеямі звязаны выхад у Вялікім Княстве Літоўскім
                першай газеты, надрукаванай па-старабеларуску. 15 лютага 1563 года паў абложаны
                Полацк. Назва газеты тыпова барокавая — такая не змясцілася б у твіт:
                <i
                  >Навіны грозные а жалостлівые о нападе княжаті Московского Івана на землю русску,
                  которі то князь паленьнем, тыранством, мордованьнем мест, замков добываньнем
                  веліку і знаменіту шкоду вчыняет. 3 доданьнем релацый Его Мілості Гетмана ВКЛ
                  княжаті Радзівілла о поражцы места Полоцкого.</i
                >
              </span>
            </p>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
