<div class="size-<%= locals.size %>">
  <div class="person <% if (locals.isDarkTheme) { %>theme-dark<% } %>" style="background-color: <%= locals.backgroundColor %>;">
    <div class="person__cover-wrapper">
      <img
        class="person__cover"
        src="<%= imagesPath %>/mock/covers/person.png"
        alt="Тут павінна быць вокладка тэга"
      />
    </div>
    <div class="person__content">
      <div class="person__years"><%= locals.years %></div>
      <div class="person__title"><%= locals.title %></div>
      <div class="person__description"><%= locals.description %></div>
    </div>
  </div>
</div>
